{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'css/production.css' %}">
	
	<title>{{ title }}</title>
</head>
<body>
	
<div class="wrapper">
	<div class="part-1">
		<img src="{% static 'media/star2.svg' %}" id="star-part1-t">
		<img src="{% static 'media/star3.svg' %}" id="star-part1-d">
		<div class="logo">
			<div class="logo-logo">
				<h1 class="logo-text-1">WISH</h1>
				<div id="star-logo"><img src="{% static 'media/star1.svg' %}" alt=""></div>
			</div>
			<h2 class="logo-production-text">Создай своё будущее</h2>
		</div>
	</div>
	<div class="part-2">
		<div class="login">
			<form method="POST">
				{% csrf_token %}
				<input type="text" name="username" placeholder="Логин" class="username" autofocus>
				<input type="password" name="password" placeholder="Пароль" class="password">
				<button class="btn-form">Войти</button>
			</form>
		</div>
		<img src="{% static 'media/star4.svg' %}" id="star-part2-t">
		<img src="{% static 'media/star5.svg' %}" id="star-part2-d"> 
	</div>
</div>
<script>
	let form = document.querySelector('form');

	form.addEventListener('keydown', (e) => {
		if (e.keyCode == 13) e.preventDefault()
	})
	document.querySelector('.username').addEventListener('keydown', (e) => {
		if (e.keyCode == 13) document.querySelector('.password').focus()
	})
	document.querySelector('.password').addEventListener('keydown', (e) => {
		if (e.keyCode == 13) form.submit()
	})
</script>
</body>
</html>