{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'css/final.css' %}">
	<title>Document</title>
	<link rel="icon" type="image/x-icon" href="{% static 'media/favicon.png' %}">
</head>
<body>
<div class="wrapper">
	<div class="slide-1">
		<nav class="navbar">
			<div class="logo">Wish</div>
			<div class="counteiner-elem">
				<div class="elem"><div class="elem-bg"></div><div class="elem-text">О проекте</div></div>
				<div class="elem"><div class="elem-bg"></div><div class="elem-text">Технологии</div></div>
				<div class="elem">
					<div class="elem-bg"></div>
					<div class="elem-text">Войти</div>
					<div class="push-elem" style="display: none;">
						<div class="push-counteiner">
							<input type="text" placeholder="Email" class="row-btn  push-input">
							<input type="password" placeholder="Пароль" class="row-btn  push-input">
							<div class="push-text"><a href="#" class="push-a" >Забыли пароль?</a></div>
							<button class="row-btn push-btn">Войти</button>
						</div>
					</div>
				</div>
				<div class="elem">
					<div class="elem-bg"></div>
					<div class="elem-text">Регистрация</div>
					<div class="push-elem">
						<div class="push-counteiner" style="display: none;">
							<input type="text" placeholder="Email" class="row-btn  push-input">
							<input type="password" placeholder="Пароль" class="row-btn  push-input">
							<input type="password" placeholder="Подтвредите пароль" class="row-btn  push-input">
						
							<button class="row-btn push-btn" style="margin-top: 15px;">Регистрация</button>
						</div>
					</div>
				</div>
				
				<button class="row-btn testing">Попробовать</button>
			</div>
		</nav>
	
	</div>
</div>
</body>
</html>